@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.eot');
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Black.woff2') format('woff2'),
        url('../fonts/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir-Black.ttf') format('truetype'),
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Raleway', sans-serif;
    /*background: url('../img/body.png') no-repeat center center fixed;
    background-size: cover;*/
}
/* Success and Error */
.Toastify .Toastify__toast--success{
    background: #478EFF !important;
}
.Toastify .Toastify__toast--error{
    background: #808080 !important;
}
select{
    display: initial;
}
.wi-100{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
/* ============= css related to chats =============== */
.thumbnail{

    height: 100px;
    margin: 10px;    
}

.widget {
    /*display: none;
    right: 15px;
    height: 500px;
    bottom: 5%;*/
    position: relative;
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    background: #FFFFFF;/* #f7f7f7 */
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 #00000096; */
}

.chat_header {
    height: 60px;
    background: rgb(90, 23, 238);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    font-size: 20px;
}

.chat_header_title {
    color: white;
    float: left;
    margin-top: 3%;
    margin-left: 35%;
}

.chats {
    /* display: none; */
    height: 422px;
    padding: 22px 22px 45px 22px; /* 2 */
    border-radius: 1px;
    overflow-y: scroll;
    margin-top: 1px;
    transition: 0.2s;
}

div.chats::-webkit-scrollbar {
    overflow-y: hidden;
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}

.clearfix {
    margin-top: 2px;
    margin-bottom: 2px;
}

.botAvatar {
    border-radius: 50%;
    width: 1.7em; /* 1.5em */
    height: 1.7em; /* 1.5em */
    float: left;
    margin-left: 0;/* 5px */
    /* border: 2px solid  #2c53af ; */
    position: relative;
    z-index: 1;
}

.botMsg {
    float: left;
    margin-top: 0.75em;
    margin-bottom: 1.17em;
    background: white;
    color: black;
    /* box-shadow: 2px 3px 9px 0px #9a82842e; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: -0.8em; /* 0.5em */
    padding: 10px;
    border-radius: 1.5em;
    max-width: 65%;
    min-width: 25%;
    font-size: 12px; /* 13 */
    word-wrap: break-word;
    border-radius: 6px; /* 0 20px 20px 20px */
}
#divValidateForm .botMsg{
    max-width: 92%;
}
.botMsg input:not([type]), 
.botMsg input[type=text]:not(.browser-default), 
.botMsg input[type=password]:not(.browser-default), 
.botMsg input[type=email]:not(.browser-default), 
.botMsg input[type=url]:not(.browser-default), 
.botMsg input[type=time]:not(.browser-default), 
.botMsg input[type=date]:not(.browser-default), 
.botMsg input[type=datetime]:not(.browser-default), 
.botMsg input[type=datetime-local]:not(.browser-default), 
.botMsg input[type=tel]:not(.browser-default), 
.botMsg input[type=number]:not(.browser-default), 
.botMsg input[type=search]:not(.browser-default), 
.botMsg textarea.materialize-textarea{
    font-size: 12px;
}
#validateform label{
    width: 100%;
    display: inline-block;
    text-align: left;
}
#validateform #type_of_work{
    margin-top: 5px;
    margin-bottom: 5px;
}
#validateform label[for=description]{
    margin-bottom: 5px;
}
#validateform #description{
    border-radius: 2px;
}
textarea {
    box-shadow: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-family: Raleway;
}

#submit, button{
    background: #2c53af;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px; /* 14px */
    word-wrap: break-word;
}
#submit{
    margin-top: 5px;
    margin-bottom: 0;
}

textarea::-webkit-input-placeholder {
    font-family: Raleway;
}

textarea-webkit-scrollbar {
    width: 0 !important
}

.userMsg {
    animation: animateElement linear 0.2s;
    animation-iteration-count: 1;
    margin-top: 0.75em; /* 5px */
    word-wrap: break-word;
    padding: 10px;
    float: right;
    margin-right: -0.8em; /* 0.5em */
    background: #478EFF; /* #5a17ee */
    color: white;
    margin-bottom: 1.17em; /* 0.15em */
    font-size: 12px; /* 13px */
    max-width: 65%;
    min-width: 15%;
    border-radius: 6px; /* 20px 0px 20px 20px */
    box-shadow: 0px 2px 5px 0px #9a828454;
}

.userAvatar {
    animation: animateElement linear 0.3s;
    animation-iteration-count: 1;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    float: right;
    margin-right: 5px;
    /* border: 2px solid  #2c53af ; */
    position: relative;
    z-index: 1;
}

.usrInput {
    padding: 0.5em;
    width: 80%;
    /*margin-left: 4%;*/
    border: 0;
    padding-left: 15px;
    height: 40px;
}

.keypad {
    /* display: none;  */
    background: #F7F7F7;
    height: 45px; /* 50px */
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 3px; /* 5px */
    border-radius: 0px 0px 10px 10px;
    z-index: 2;
}

#sendButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-right: 12px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    position: absolute;
    bottom: 0;	
    right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgProfile {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 #00000096;
    border-radius: 50px;
    width: 60%;
}

.profile_div {
    /* display: none; */
    position: fixed;
    padding: 5px;
    width: 10%;
    bottom: 0;
    right: 0;
    cursor: pointer;
}


/* css for dropdown menu of the bot */

#close,
#restart,
#clear {
    cursor: pointer;
}

.dropdown-trigger {
    cursor: pointer;
    color: white;
    margin-right: 5px;
    float: right;
    margin-top: 3%;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #5a17ee;
}

@keyframes animateElement {
    0% {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}


/*========== css related to chats elements============= */


/* css for card details of carousel cards */

.content {
    transition: 0.2s;
    display: none;
    width: 350px;
    right: 15px;
    height: 500px;
    bottom: 5%;
    position: fixed;
    background: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 2px 10px 1px #b5b5b5;
}

.content_header {
    object-fit: cover;
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0px 0px;
}

.content_data {
    overflow-y: scroll;
    height: 70%;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 30%;
    z-index: 1000;
    border-radius: 10px;
    background: white;
    padding: 5px;
    box-shadow: 0px -1px 20px 3px #9c9393ba;
}

.content_title {
    color: black;
    font-weight: 600;
    word-wrap: break-word;
    padding-left: 5px;
    font-size: 1.2em;
    width: 80%;
    border-radius: .28571429rem;
}

.votes {
    font-size: 12px;
    color: lightslategray;
}

.ratings {
    margin-top: 5px;
    background: #9ACD32;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.user_ratings {
    border-radius: .28571429rem;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.total_ratings {
    font-size: 12px;
    opacity: .5;
    margin-left: 5px;
}

.content_data>.row .col {
    padding: 5px;
}

.metadata_1,
.metadata_2,
.metadata_3,
.metadata_4,
.row {
    margin-bottom: 0px;
}

.metadata_1 {
    color: lightslategrey;
    padding: 5px;
}

.order,
#closeContents {
    color: #2c53af;
}

.metadata_2,
.metadata_3,
.metadata_4,
.metadata_5,
.metadata_6 {
    color: lightslategrey;
    padding: 5px;
}

.average_cost,
.timings,
.location,
.cuisines {
    width: 70%;
    float: right;
    margin-right: 25%;
}

.fa .fa-user-o {
    font-size: 15px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

div.content::-webkit-scrollbar {
    width: 0 !important
}

div.content_data::-webkit-scrollbar {
    overflow-y: hidden;
    width: 0px;
    /* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}


/* css for single card */

.singleCard {
    padding-left: 10%;
    padding-right: 10px;
}


/* css for image card */

.imgcard {
    object-fit: cover;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin-left: 1%;
}


/* css for suggestions buttons */

.suggestions {
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 5px 5px 1px #dbdade;
}

.menuTitle {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    padding: 5px;
}

.menuChips {
    display: block;
    background: #2c53af;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 14px;
    word-wrap: break-word;
}


/* cards carousels */

.cards {
    display: none;
    position: relative;
    max-width: 300px;
}

.cards_scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    height: 210px;
    width: 300px;
    transition: width 0.5s ease;
    margin-left: 5px;
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;
}

.cards_scroller img {
    border-radius: 10px;
}

.cards div.note {
    position: absolute;
    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;
    font-size: 4em;
    color: white;
}

.cards .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.cards .arrow.next {
    display: none;
    font-size: 2em;
    color: #ffffff;
    right: 10px;
}

.cards .arrow.prev {
    display: none;
    font-size: 2em;
    color: #ffffff;
    left: 10px;
}

.cards_scroller::-webkit-scrollbar {
    width: 0 !important
}

.cards_scroller>div.carousel_cards {
    margin: 5px;
    scroll-snap-align: center;
    position: relative;
    scroll-behavior: smooth;
}

.cards_scroller div.carousel_cards {
    min-width: 50%;
    min-height: 70%;
    background: #b5b5b5;
    border-radius: 10px;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-duration: 0.8s;
    animation-delay: 0.8s;
}


/* css for cards within the cards carousels */

.cardBackgroundImage {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.cardFooter {
    background: rgba(56, 53, 60, 0.86);
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    z-index: 3;
    color: white;
    bottom: 0;
    width: 100%;
    height: 30%;
    word-wrap: break-word;
    padding: 1px;
}

.cardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    height: 40%;
    display: inline-block;
    margin-bottom: 1px;
    font-size: 15px;
    /* font-weight: 600; */
    padding: 5px;
    /* color: #2c53af; */
    color: #ffffff;
    cursor: pointer;
}

.cardDescription {
    padding: 5px;
    font-size: 13px;
    color: white;
    line-height: 15px;
}


/*css for dropDown messages*/

.dropDownMsg {
    float: left;
    margin-top: 5px;
    background: white;
    color: black;
    /* box-shadow: 2px 3px 9px 0px #9a82842e; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1.2em; /* 0.5em */
    padding: 4px; /* 10px */
    border-radius: 6px; /* 1.5em */
    max-width: 60%;
    min-width: 25%;
    font-size: 12px;
    word-wrap: break-word;
}

.dropDownMsg>select {
    border: 0px solid #f2f2f2;
}


/* css for quick replies */

.quickReplies {
    padding: 5px;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    scroll-behavior: smooth;
}

.quickReplies::-webkit-scrollbar {
    width: 0 !important
}

.quickReplies.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.chip {
    background-color: white;
    border: 1px solid #2c53af;
    color: #2c53af;
    font-weight: bolder;
    text-align: center;
}

.chip:hover {
    background-color: #2c53af;
    color: white;
}


/* css for charts */

#expand:hover {
    font-size: 18px;
}

#expand {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal {
    height: 60%;
    border-radius: 10px;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 25vh;
    width: 20vw;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5%;
    background: white;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-top: 5px;
}


/* css for collapsible */

.collapsible {
    margin-top: 5px;
    margin-left: 5%;
    max-width: 60%;
    min-width: 25%;
    font-size: 13px;
    word-wrap: break-word;
    border-radius: 20px;
    background: white;
}

.collapsible-body {
    padding: 15px;
}

.collapsible-header {
    font-weight: bold;
    color: #2c53af;
}

ul.collapsible>li:first-child .collapsible-header {
    border-radius: 20px 20px 0px 0px;
}

ul.collapsible>li:last-child .collapsible-header {
    color: #2c53af;
    border-radius: 0px 0px 20px 20px;
}

ul.collapsible>li:last-child .collapsible-body {
    border-bottom: none;
}

.collapsible-header {
    padding: 10px;
}


/* css for botTyping */

.botTyping {
    float: left;
    margin-top: 5px;
    background: white;
    color: #2c53af;
    box-shadow: 2px 3px 9px 0px #9a82847a;
    margin-left: 0.5em;
    padding: 15px;
    border-radius: 0 20px 20px 20px;
    max-width: 60%;
    min-width: 20%;
    word-wrap: break-word;
    border-radius: 0 20px 20px 20px;
}

.botTyping>div {
    width: 10px;
    height: 10px;
    background-color: #2c53af;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 5px;
}

.botTyping .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.botTyping .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

input:focus {
    outline: none;
}

video:focus {
    outline: none;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-radius: 10px;
    border-style: none;
}


/* Bot pop-up intro */

.tap-target {
    color: #fff;
    background: #5a17ee;
}

.pdf_attachment {
    border: 0.5px solid #00000014;
    width: 60%;
    height: 14%;
    border-radius: 10px;
    margin-left: 10%;
    box-shadow: 2px 3px 9px 0px #9a82842e;
}

.pdf_icon {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    font-size: 25px;
    padding: 7% !important;
    background-color: #5a17ee;
    color: white;
}

.pdf_link {
    padding: 5% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pdf_link a {
    color: #5a17ee;
}

/*New Front Page Chat Bot*/
.sidenav li>a {
    color: #595959;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-family: Avenir;
    font-style: normal;
}
.sidenav li>a:hover {
    background-color: transparent;
    color: #478EFF;
}
.fwd-header .fwd-nav{
    background-color: #FFFFFE;
}
.fwd-header .fwd-nav .brand-logo,
.fwd-footer .brand-logo{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #478EFF;
}
.fwd-header .fwd-nav ul a{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #595959;
    transition: all 0.4s ease-in-out;
    margin-left: 40px;
}
.fwd-header .fwd-nav ul li:last-child a{
    padding-right: 0;
}
.fwd-hero-banner{
    padding: 106px 0 152px 0;
    background-color: #F0F0F0;
}
.fwd-header .fwd-nav ul a:hover{
    background-color: transparent;
    color: #478EFF;
}
.fwd-hero-banner .fwd-hero-title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #000000;
    margin: 0 0 8px 0;
}
.avenir-normal{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
}
.fwd-hero-banner .fwd-hero-desc{
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 0;
}
.keypad .usrInput{
    font-size: 12px;
    line-height: 16px;
    color: #656565;
}
.fwd-footer{
    background: #FFFFFF;
    padding: 116px 0 100px 0;
}
.fwd-footer-widget .footer-desc{
    font-size: 16px;
    line-height: 22px;
    color: #0A142F;
    opacity: 0.65;
    width: 100%;
    max-width: 292px;
    margin-block-start: 8px;
    margin-block-end: 0;
}
.fwd-footer-border {
    margin-block-start: 23px;
    margin-block-end: 35px;
    border: 1px solid #F1F1F3;
}
.fwd-footer-widget .fwd-widget-title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    color: #0A142F;
    margin: 0 0 25px 0;
}
.fwd-footer-widget ul{
    margin: 0;
}
.fwd-footer-widget ul li a,
.fwd-footer-widget .fwd-support{
    font-size: 16px;
    line-height: 22px;
    color: #0A142F;
    opacity: 0.65;
    margin: 0 0 21px 0;
    transition: all 0.4s ease-in-out;
}
.fwd-footer-widget ul li a:hover,
.fwd-footer-widget .fwd-support:hover{
    color: #478EFF;
    opacity: 1;
}
.footer-copyright .fwd-social-icon{
    margin: 0;
}
.footer-copyright .fwd-social-icon li{
    float: left;
}
.footer-copyright .fwd-social-icon li:not(:last-child){
    margin: 0 15px 0 0;
}
.footer-copyright .fwd-social-icon li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #E7E8EB;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.4s ease-in-out;
}
.footer-copyright .fwd-social-icon li a:hover{
    border: 1.5px solid #478EFF;
}
.footer-copyright .fwd-org,
.footer-copyright .fwd-siteinfo{
    margin: 0;
    font-size: 16px;
    line-height: 35px;
    color: #0A142F;
}
.footer-copyright .fwd-siteinfo a{
    color: #478EFF;
}
.footer-copyright .fwd-siteinfo a:hover{
    color: #1e66d8;
}
nav .sidenav-trigger{
    float: right;
    color: #868686;
    display: flex;
    align-items: center;
}
.sidenav{
    /* left: auto;
    right: 0; */
    padding: 15px 0;
}
.m-0{
    margin: 0 !important;
}
.chats select{
    height: auto;
}
.keypad textarea::-webkit-input-placeholder {
    color: #656565;
}
.keypad textarea:-moz-placeholder {
    color: #656565;
}
.keypad textarea::-moz-placeholder {
    color: #656565;
}
.keypad textarea:-ms-input-placeholder {
    color: #656565;
}
#name a {
    pointer-events: none;
}

@media only screen and (min-width: 601px){
    nav, 
    nav .nav-wrapper i,
    nav a.sidenav-trigger, 
    nav a.sidenav-trigger i {
        height: 106px;
        line-height: 106px;
    }
}
@media only screen and (max-width: 992px){
    .fwd-header .fwd-nav .brand-logo{
        left: 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .fwd-hero-banner,
    .fwd-footer{
        padding: 80px 0;
    }
    .fwd-hero-banner .fwd-hero-title{
        font-size: 36px;
        line-height: 48px;
    }
    .fwd-hero-banner .fwd-hero-desc{
        font-size: 16px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 600px){
    .fwd-hero-banner{
        padding: 60px 0;
    }
    .fwd-header .fwd-nav{
        height: 86px;
        line-height: 86px;
    }
    nav .sidenav-trigger{
        height: 86px;
    }
    .widget{
        margin: 30px auto 0;
    }
    .fwd-hero-banner,
    .fwd-footer-widget,
    .fwd-footer-widget .footer-desc,
    .footer-copyright{
        text-align: center;
    }
    .fwd-footer-widget .footer-desc{
        max-width: 100%;
    }
    .fwd-footer{
        padding: 60px 0 25px 0;
    }
    .fwd-footer .fwd-footer-widget{
        margin: 0 0 30px 0;
    }
    .fwd-footer-widget ul li:last-child a{
        margin: 0;
    }
    .footer-copyright .fwd-social-icon{
        display: table;
        margin: 0 auto 15px;
        width: auto;
    }
    .fwd-footer-border {
        margin-block-start: 20px;
        margin-block-end: 20px;
    }
}   
@media only screen and (max-width: 480px){
    .fwd-hero-banner{
        padding: 50px 0;
    }
    .fwd-footer{
        padding: 50px 0 20px 0;
    }
}
@media only screen and (min-width: 481px){
    body{
        height: auto !important;
    }
}
@media only screen and (max-width: 480px){
    .fwd-hero-banner .fwd-hero-title,
    .fwd-hero-banner .fwd-hero-desc,
    .fwd-footer{
        display: none;
    }
    .fwd-hero-banner {
        padding: 0;
    }
    .chats{
        margin-top: 0;
        border-radius: 0;
        height: calc(100% - 86px);
        background: #F0F0F0;
    }
    .widget {
        margin: 0 auto 0;
        max-width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
    .keypad{
        position: fixed;
        top: auto;
        border-radius: 0;
        background-color: #FFFFFF;
    }
    .fwd-hero-banner .container{
        width: 100%;
    }
    .fwd-hero-banner .container .row .col{
        min-height: 0;
        padding: 0;
    }
    .usrInput{
        width: 80%;
        float: left;
    }
}